@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC&display=swap');
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');
* {
margin: 0;
padding: 0;
} 

.my-navbar {
	font-family: 'Rubik', sans-serif;
	font-size: 135%;
}

.navbarlogo {
	margin-left: auto;
	margin-right: auto;
}
.carousel {
	margin-left: auto;
	margin-right: auto;
	margin-top: 2cm;
}
.colorfulbox {
	background-color: #050505;
	border-top-width: 0%;
    margin: 0;
    padding: 0.5cm;
}

.pinkbox {
	background-color: #FF00FF;
	text-align: center;
	margin-top: 2cm;
	margin-bottom: 2cm;
}

h1{
	font-family: 'Bowlby One SC', cursive;
    font-size: 355%;
	text-align: center;
	margin-top: 2cm;
	margin-bottom: 2cm;
}

h2{
	font-family: 'Bowlby One SC', cursive;
    font-size: 230%;
}

h3{
	font-family: 'Bowlby One SC', cursive; 
    font-size: 230%;
}

h4{
	font-family: 'Bowlby One SC', cursive;
    font-size: 230%;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.bodystyle {
	font-family: 'Oswald', sans-serif;
	font-size: 200%;
	margin-left: auto;
	margin-right: auto;
}

.quotes {
	font-family: 'Caveat', cursive;
	font-size: 210%;
	text-align: center;
	margit-top: 1cm;
	margin-bottom: 1cm;
}