@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
* {
margin: 0;
padding: 0;
} 

.my-navbar {
	background-color: #FF00FF;
}

.colorfulbox {
	background-color: #050505;
	border-top-width: 0%;
    margin: 0;
    padding: 0.5cm;
}

h1{
	font-family: 'Rubik', sans-serif;
    font-size: 200%;
}
h2{
	font-family: 'Rubik', sans-serif;
    font-size: 200%;
}
h3{
	font-family: 'Rubik', sans-serif;
    font-size: 200%;
}
h4{
	font-family: 'Rubik', sans-serif;
    font-size: 200%;
}